[
  {
      "id": "jxc",
      "legend": "JxC",
      "name": "JxC",
      "colour": "#215CC2",
      "seats": ${headers.JxCAT},
      "vots" : ${headers.votsJxCAT}
  },
  {
      "id": "erc",
      "legend": "ERC",
      "name": "ERC",
      "colour": "#F8BC4B",
      "seats": ${headers.ERC},
      "vots": ${headers.votsERC}
  },
  {
        "id": "psoe",
        "legend": "PSOE",
        "name": "PSOE",
        "colour": "#C8001E",
        "seats": ${headers.PSOE},
        "vots": ${headers.votsPSOE}
  },
  {
      "id": "cs",
      "legend": "Cs",
      "name": "Cs",
      "colour": "#FA7515",
      "seats": ${headers.Cs},
      "vots": ${headers.votsCiudadanos}
  },
  {
      "id": "com",
      "legend": "Comuns",
      "name": "Comuns",
      "colour": "#701471",
      "seats": ${headers.Comuns},
      "vots": ${headers.votsComuns}
  },
  {
        "id": "vox",
        "legend": "VOX",
        "name": "VOX",
        "colour": "#74DF4F",
        "seats": ${headers.Vox},
        "vots": ${headers.votsVox}
  },
  {
      "id": "pp",
      "legend": "PP",
      "name": "PP",
      "colour": "#4F92E1",
      "seats": ${headers.PP},
      "vots": ${headers.votsPP}
  },
  {
      "id": "pacma",
      "legend": "PACMA",
      "name": "PACMA",
      "colour": "#BAC02E",
      "seats": ${headers.PACMA},
      "vots": ${headers.votsPACMA}
  }
]